body{
    background-color: #64CBC4;
}
.cuerpo{
    background-color: #033549;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    margin-top: 100px;
    
}
.prueba{
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 100px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    gap: 5vw;
    padding: 3vw;
    background-color: #033549;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 15px 15px 15px #03354992;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    border-radius: 5px;
    padding-top: 4vh;
    padding-bottom: 4vh;
    align-items: center;
    width: 500px;
    box-shadow: 5px 5px 5px #64cbc482;

    :nth-child(1),:nth-child(3){
        display:inline; 
        width: 90%;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        border-bottom-style:solid;
        border-bottom-width: 3px;
        border-color: white;
        border-bottom-color: #033549c5;
    }
    :nth-child(12){
        display:inline; 
        /* width: 90%; */
        font-family: 'M PLUS Rounded 1c', sans-serif;
        border-bottom-style:solid;
        border-bottom-width: 3px;
        border-color: white;
        border-bottom-color: #033549c5;
    }


}


/* .formulario:nth-child(2,4,6,8,10,12,13){
    align-items: center;

} */
label{
    display: none;
    
}



textarea{
    border-radius: 5px;
    padding: 10px;
    border-color:lightgrey;
}

input, textarea{
    
    border-style: none;
    /* height: 30px; */
    padding: 15px;
    width: 80%;
    border-width: 0 0 2px 0;
    border-color: lightgrey;
    border-style: solid;
}

h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;
    color: white;
}

h2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 50px;
    color: white;
}

.span{
    color: #64CBC4;
    font-size: xx-large;
}

p{
    hyphens: auto;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    color: white;
}

.parrafo{
    font-size: x-large;
}


button{
    width: 90%;
    padding: 2%;
    border-radius: 10px;
    border-style: none;
    background-color: #033549;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;


}
.button{
    background-color: #64CBC4;
    
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 350px;
 
}